html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Tahoma, sans-serif;
  background: #222;
  color: #eee;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#canvas {
  border: 1px solid #555;
}
